hub
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/hub1BG.png
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/hub1CL.png
NULL
8 16
1
.
flour
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/FlourLevelBackground.png
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/FlourLevel.png
NULL
8 16
1
.
sugar
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/SugarBG.png
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/SugarCL.png
NULL
8 16
2
.
baking_soda
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/BakingPowderBG.png
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/BakingPowderCL.png
NULL
8 16
1
.
butter
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/ButterLevelBackground.png
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/ButterLevel.png
NULL
8 16
1
.
--
0
304 764
5 100
0
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/hero.png
--
0
7 7
0
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/egg.png
.
1
7 7
1
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/flour.png
.
2
7 7
2
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/sugar.png
.
3
7 7
3
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/baking_soda.png
.
4
7 7
4
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/butter.png
.
0
70 70
5
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/milk.png
.
--
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/portal.png
.
0
25 50
1
57 92
.
1
25 50
2
57 92
.
2
25 50
3
57 92
.
--
0
200 200
2
1
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/enemy.png
.
1
200 200
2
1
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/enemy.png
.
2
200 200
2
1
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/enemy.png
.
3
200 200
2
1
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/enemy.png
.
4
200 200
2
1
/Users/thomasverstraete/Dropbox/GVSU/SeniorProjCIS467/code/CIS467/code/resources/enemy.png
.
--
