.DS_Store
*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.css
htmlPixelTest/main3.css.map
htmlPixelTest/.sass-cache/73b11d3ef10cbe6bb87be890e94687d3fe473fe7/main.scssc
htmlPixelTest/.sass-cache/73b11d3ef10cbe6bb87be890e94687d3fe473fe7/main3.scssc
code/game
._.DS_Store
code/._.DS_Store
code/PixelGame
code/PixelGame.dSYM