$resolutions: 1, 2, 4, 8, 16, 32;


body, h3, h1 {
    margin: 0;
    padding: 0;
}

header {
    height: 10%;
    width: 100%;
    background-color: rgb(256,96,96);
    padding: 1em;
}

.left_side_bar {
    width: 225px;
    overflow-y: auto;
    height: 600px;
    float: left;
    border-right: 2px solid black;

    .section{
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
    }
}



.controls {
    margin: 1em;
}

.edit_area {
    float: left;
    width: 710px;
}

#printout {
    float: left;
    width: 400px;
    height: 700px;
    overflow-y: scroll;
    

}

p.printout {
}

.pixalSmallx {
    width: 2*32px;
    height: 2*32px;
}
.pixalBigx {
    width: 15*32px;
    height: 15*32px;
}
.pixalSmallx, 
.pixalBigx {
    float: left;
    margin-top: 100px;
    border: 2px solid black;
    padding: 0;
    margin: 30px;

}

.usedColor {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.usedColorClose {
    float: right;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}


@each $res in $resolutions {
    .singlePixel#{$res} {
        width: (1/$res)*100%;
        height: (1/$res)*100%;
        box-sizing: border-box;
        float: left;    
        margin: 0;
        padding: 0;

        &:hover {
            border: 1px solid lightgray;
        }

        &.selected {
            border: 1px solid darkgray;

        }
    }
}

.clear {
    clear: both;
}